activemq {

  org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
     debug=true
     initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
     connectionURL="ldap://localhost:11389"
     connectionUsername="uid=admin,ou=system"
     connectionPassword=secret
     connectionProtocol=s
     authentication=simple
     userBase="ou=Users,dc=example,dc=com"
     userSearchMatching="(uid={0})"
     userSearchSubtree=true
     roleBase="ou=Groups,dc=example,dc=com"
     roleName=cn
     roleSearchMatching="(member={0})"
     roleSearchSubtree=false
     reload=true  
  ;

};
